.login{
    margin-top: 10%;
}

body{
    /*background-image: url('../img/fondo.jpg');*/
    background-color: #383838;
}
.card{
    opacity: 0.9;
}
img{
    width: 35%;
    margin-top: -20%;
    margin-bottom: -15%;
}