body{
    background-color: #1e2425;
}
.contenedoresIngresos{
    background-color: #343b3c;
}
.contenedoresIngresosProducto{
    background-color: #343b3c;
}
.dropdown .dropdown-item
{
    color: white;
}
.dropdown .dropdown-item:hover
{
    background-color: #1e2425;
}

@media (min-width:320px) and (max-width:760px){
    .contenedoresIngresosProducto{
        background-color: #1e2425;
    }
    .subdivision{
        background-color: #343b3c;
        margin-top: 3%;
        padding: 15px;
    }
}