
.icon-manitaArriba:before { content: '\e800'; } /* '' */
.icon-manitaAbajo:before { content: '\e801'; } /* '' */
.icon-facebook-circled:before { content: '\e802'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */