<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ingresos de Datos</title>
    <link rel="icon" href="{{url_for('static', filename='img/logoPcool1.png')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/cosmo.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styleIngresos.css')}}">
</head>

<body>
    <script>
        setTimeout(function () {
            var mensaje = document.getElementById('message');
            mensaje.remove();
        }, 2000);
    </script>
    {% from '_macroForm.html' import render_field %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success" role="alert" id="message">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="container">
        <h2 class="text-white text-center">Ingreso de datos Pcool</h2>
    <div class="row justify-content-center mb-2">
        <div class="col-lg-5 shadow rounded p-4 contenedoresIngresos">
            <h1 class="lead text-center text-white">Ingreso de Categorias</h1>
            <div class="form">
                <form action="/guardar_categorias" method="POST" id="formCategoria">
                    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                    <div>
                        {{render_field(categorias.nombre, class="form-control text-white bg-dark border-primary", placeholder="Nombre de categoria")}}
                    </div>
                    <button type="submit" class="btn btn-primary btn-block mt-2" id="guardarCategoria">Guardar
                        Categoria</button>
                </form>
            </div>
        </div>
        
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-5 rounded shadow p-4 contenedoresIngresos">
            <h1 class="lead text-center text-white">
                Ingresar Marcas
            </h1>
            <div class="form">
                <form action="/guardar_marca" method="POST" id="formMarca">
                    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                    <div>
                        {{render_field(marca.nombre, class="form-control text-white bg-dark border-primary", placeholder="Nombre de Marca")}}
                    </div>
                    <button type="submit" class="btn btn-primary btn-block mt-2" id="GuardarMarca">Guardar Marca</button>
                </form>
            </div>
        </div>
        <div class="col-lg-5 rounded shadow p-4 ml-2 contenedoresIngresos">
            <h1 class="lead text-center text-white">
                Ingresar Tiendas
            </h1>
            <form action="/guardar_tienda" method="POST" id="formTiendaProducto">
                <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                <div class="form-group">
                    {{render_field(tienda.nombre, class="form-control text-white bg-dark border-primary", placeholder="Nombre de tienda")}}
                </div>
                <div class="form-group">
                    {{render_field(tienda.direccion, class="form-control text-white bg-dark border-primary", placeholder="Direccion de tienda")}}
                </div>
                <div class="form-group">
                    {{render_field(tienda.telefono, class="form-control text-white bg-dark border-primary", placeholder="Telefono de tienda")}}
                </div>
                <div class="form-group">
                    {{render_field(tienda.facebook, class="form-control text-white bg-dark border-primary", placeholder="Facebook de tienda")}}
                </div>
                <div class="form-group">
                    {{render_field(tienda.instagram, class="form-control text-white bg-dark border-primary", placeholder="Instagram de tienda")}}
                </div>
                <div class="form-group">
                    {{render_field(tienda.propietario, class="form-control text-white bg-dark border-primary", placeholder="Propietario de tienda")}}
                </div>
                <button type="submit" class="btn btn-primary btn-block">Guardar Tienda</button>
            </form>
        </div>
    </div>
    </div>
    <script src="{{url_for('static', filename='js/jquery-3.4.1.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/enviarDatos.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
</body>

</html>