{% extends 'layout.html' %}
{% block content %}
<div class="container-fluid">
    <!--titulo de tienda-->
    <div class="row">
        <div class="col-md-12 col-lg-12 border border-2 d-none d-sm-none d-md-block d-lg-block cajaTituloInicio">
            <div class="">
                <h1 class="display-3 text-center text-white TituloTienda">
                    Bienvenido a Pcool
                </h1>
         </div>
         </div>
         <div class="col-md-12 text-center mt-4 d-block d-sm-block d-md-none d-lg-none">
                <h1 class="lead font-weight-bold d-inline-block p-3 border border-info">
                    Bienvenido a Pcool
                </h1>
         </div>
    </div>
    <div class="container">
        <!-- tiles de tiendas-->
        <div class="row mt-2" id="tilesTiendas">
            <div class="col-md-3">
                <a href="/kamell">
                    <div class="card shadow">
                        <div class="card-body p-0 tiendas">
                            <img src="../static/img/logo-kamell.jpeg" class="img-fluid" alt="">
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!--mostrar busquedas-->
        <div class="row" id="tileBusquedaGeneral">

        </div>
        <!-- modal-->
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">

                        </h5>
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row justify-content-center">
                            <!--Carrusel-->
                            <div class="col-10 col-sm-6 col-lg-6">
                                <div id="demo" class="carousel slide" data-ride="carousel">
                                    <!-- Indicators -->
                                    <ul class="carousel-indicators">
                                        <li data-target="#demo" data-slide-to="0"
                                            class="active"></li>
                                        <li data-target="#demo" data-slide-to="1"></li>
                                        <li data-target="#demo" data-slide-to="2"></li>
                                    </ul>
                                    <!-- imagenes del slide de carrusel -->
                                    <div class="carousel-inner">
                                        <div class="carousel-item active primerItem">
                                        </div>
                                    </div>
                                    <!-- control derecho y izquierdo de carrusel -->
                                    <a class="carousel-control-prev" href="#demo"
                                       data-slide="prev">
                                        <span class="carousel-control-prev-icon"></span>
                                    </a>
                                    <a class="carousel-control-next" href="#demo"
                                       data-slide="next">
                                                                <span class="carousel-control-next-icon">
                                                                </span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-10 col-sm-6 col-lg-6">
                                <div>
                                    <div class="font-weight-bold small">
                                        Descripcion:
                                    </div>
                                    <div class="small text-justify" id="descripcion">

                                    </div>
                                </div>
                                <div>
                                    <div class="mt-lg-5 mt-md-2 mt-1 font-weight-bold" id="nombreProducto">

                                    </div>
                                    <div>
                                        <label class="font-weight-bold">
                                            Precio:
                                        </label>
                                        <label id="precio">

                                        </label>
                                    </div>
                                </div>
                                <div>
                                    <div class="font-weight-bold">
                                        Contactanos:
                                    </div>
                                    <div class="redes">
                                        <a href="https://www.facebook.com/profile.php?id=100006455873194" target="_blank" rel="noopener noreferrer">
                                            <span class="icon-facebook-circled"></span>
                                        </a>
                                        <a href="http://" target="_blank" rel="noopener noreferrer">
                                            <span class="icon-instagram"></span>
                                        </a>
                                        <a href="https://wa.me/50498398802?text=hola%20Ivan" target="_blank">
                                            <span class="icon icon-whatsapp"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{%endblock%}