<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pcool</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/lux.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='icons/css/fontello.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='img/logoPcoolicon.png')}}" type="image/x-icon">
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark sticky-top menuPrincipal">
        <a class="navbar-brand" href="#">
            <img src="{{url_for('static', filename='img/logoPcoolWhiteNav.png')}}" alt="" class="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-menu"></span>
        </button>

        <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active primerOp">
                    <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" id="inicioSesion">
                    <a href="/login" class="nav-link">Iniciar Sesión</a>
                </li>
                <li class="navbar-nav">
                    <a href="#" class="nav-item" id="Tienda"></a>
                </li>
            </ul>
            <div class="nav-item float-md-right text-white">
                <a href="" class="text-white text-decoration-none" id="iconUser">
                    <span class="nav-link icon-user-1 lead d-inline m-0"></span>
                </a>
                <div class="d-inline" id="nombreUser">{{user}}</div>
                <ul class="text-center p-1 list-unstyled bg-dark rounded position-absolute" id="opcionSesion">
                    <li class="p-2"><a href="/cerrarSesion" class="text-white text-decoration-none">Cerrar Sesion</a></li>
                </ul>
            </div>
            <div class="nav-item text-white">
                <span class="nav-link icon-search lead"></span>
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
    <script src="{{url_for('static', filename='js/jquery-3.4.1.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/mostrarProductos.js')}}"></script>
    <script src="{{url_for('static', filename='js/mostrarModal.js')}}"></script>
    <script src="{{url_for('static', filename='js/menuNiveles.js')}}"></script>
    <script src="{{url_for('static', filename='js/opcionCarrusel.js')}}"></script>
    <script src="{{url_for('static', filename='js/masonry.pkgd.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/imagesloaded.pkgd.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/acomodarImgs.js')}}"></script>
    <script src="{{url_for('static', filename='js/validacionLogin.js')}}"></script>
    <script src="{{url_for('static', filename='js/busquedas.js')}}"></script>
    <script src="{{url_for('static', filename='js/clickTienda.js')}}"></script>
</body>
</html>