<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pcool</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='icons/css/fontello.css')}}">
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top menuPrincipal">
        <a class="navbar-brand" href="#">Pcool</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active primerOp">
                    <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="navbar-nav">
                    <a href="#" class="nav-item" id="Tienda"></a>
                </li>
                <!-- Dropdown -->
                <!--<li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tiendas
                    </a>
                    <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                        <li class="dropdown-submenu">
                            <a class="dropdown-item dropdown-toggle" href="">Tienda Kamell</a>
                            <ul class="dropdown-menu bg-dark submenu">
                                <li class="">
                                    <a class="dropdown-item" href="/kamell#Cosmeticos">Cosmeticos</a>
                                </li>
                                <li class="">
                                    <a href="#Ropa" class="dropdown-item">Ropa</a>
                                </li>
                            </ul>
                        </li>
                        <li class="">
                            <a href="" class="dropdown-item">El Huracan</a>
                        </li>
                    </ul>
                </li>-->
            </ul>
            <form class="form-inline my-2 my-lg-0"> <input class="form-control	mr-sm-2" type="search"
                    placeholder="Search" aria-label="Search" id="busquedaGeneral" name="Pbuscar"> <button class="btn	btn-outline-success	my-2	my-sm-0"
                    type="submit">Search</button> </form>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
    <script src="{{url_for('static', filename='js/jquery-3.4.1.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/enviarDatos.js')}}"></script>
    <script src="{{url_for('static', filename='js/mostrarModal.js')}}"></script>
    <script src="{{url_for('static', filename='js/menuNiveles.js')}}"></script>
    <script src="{{url_for('static', filename='js/opcionCarrusel.js')}}"></script>
    <script src="{{url_for('static', filename='js/masonry.pkgd.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/imagesloaded.pkgd.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/acomodarImgs.js')}}"></script>
    <script src="{{url_for('static', filename='js/busquedas.js')}}"></script>
    <script src="{{url_for('static', filename='js/clickTienda.js')}}"></script>
</body>
</html>