<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ingresos de Datos</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
</head>

<body>
    <div class="text-center">
        
        <h1 class="display-4">Ingreso de Datos</h1>
    </div>
    <div class="container">
        <div class="row justify-content-center mb-2">
            <div class="col-lg-5 border border shadow rounded p-4 contenedoresIngresos">
                <h1 class="lead text-center">Ingreso de Categorias</h1>
                <div class="form">
                    <form action="/guardar_categorias" method="POST" id="formCategoria">
                        <label for="">Nombre Categoria:</label>
                        <input type="text" name="nombreCategoria" id="nombreCategoria" class="form-control" placeholder="Categoria">
                        <button type="submit" class="btn btn-primary btn-block mt-2" id="guardarCategoria">Guardar</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-5 border border shadow rounded p-4 ml-2 contenedoresIngresos">
                <div class="form">
                    <h1 class="lead text-center">Ingreso de Productos</h1>
                    <form action="/guardar_producto" method="POST" id="formProducto">
                        <label for="">Nombre:</label>
                        <input type="text" name="nombre" class="form-control" placeholder="Nombre Producto" id="np">
                        <label for="">Precio:</label>
                        <input type="number" value="0" name="precio" class="form-control" id="pp">
                        <label for="">Descripcion:</label>
                        <input type="text" name="descripcion" class="form-control mb-3"
                            placeholder="Descripcion Producto" id="dp">
                        <label for="">Likes:</label>
                        <input type="number" name="like" id="" value="0" class="form-control">
                        <label for="">Categoria:</label>
                        <select name="categoria" id="cp">
                           {% for categoria in categorias%}
                            <option value="{{categoria.0}}" class="form-control">{{categoria.1}}</option>
                            {%endfor%}
                        </select>
                        <br>
                        <label for="">Imagen:</label>
                        <input type="text" name="imagen" id="ip" class="form-control">
                        <button type="submit" class="btn btn-primary btn-block mt-2" id="guardarProducto">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-5 border rounded shadow p-4 contenedoresIngresos">
                <h1 class="lead text-center">
                    Ingresar Tiendas
                </h1>
                <div class="form">
                    <form action="" method="POST" id="formTienda">
                        <label for="">Nombre:</label>
                        <input type="text" name="nombreTienda" id="" class="form-control" placeholder="Nombre de Tienda">
                        <label for="">Dirección</label>
                        <input type="text" name="direccionTienda" id="" class="form-control" placeholder="Direccion de Tienda">
                        <label for="">Telefonos:</label>
                        <input type="tel" name="tel1" id="" class="form-control mb-2" placeholder="Telefono N°1">
                        <input type="tel" name="tel2" id="" class="form-control" placeholder="Telefono N°2">
                        <label for="">Facebook:</label>
                        <input type="text" name="facebookTienda" id="" class="form-control" placeholder="Facebook Tienda">
                        <label for="">Instagram:</label>
                        <input type="text" name="instagramTienda" id="" class="form-control" placeholder="Intagram de Tienda">
                        <label for="">Whatsapp:</label>
                        <input type="text" name="whatsappTienda" id="" class="form-control" placeholder="Whatsapp de Tienda">
                        <button type="submit" class="btn btn-primary btn-block mt-2" id="GuardarTienda">Guardar</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-5 border rounded shadow p-4 ml-2 contenedoresIngresos">
                <h1 class="lead text-center">
                    Proucto con Tienda
                </h1>
                <form action="" id="formTiendaProducto">
                    <label for="">Tienda:</label>
                    <select name="tienda" id="listaTienda" class="d-block">
                        
                    </select na>
                    <label for="">Producto:</label>
                    <select name="producto" id="listaProducto" class="d-block mb-2">
                        
                    </select>
                    <button type="submit" class="btn btn-primary btn-block">Guardar</button>
                </form>
            </div>
        </div>
    </div>
    <script src="{{url_for('static', filename='js/jquery-3.4.1.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/enviarDatos.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
</body>

</html>